.nav {
    background: white;
    padding: 12px 16px;
    border-radius: 10px;
    margin-bottom: 16px;
}
.nav-inner {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}
.brand {
    font-weight: 700;
    cursor: pointer;
    color: #333;
}
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 20px;
}
.nav-links {
    display: flex;
    gap: 8px;
    align-items: center;
}
.nav-link {
    padding: 6px 10px;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
}
.nav-link:hover {
    background: #f1f1ff;
}
.nav-right {
    display: flex;
    gap: 8px;
    align-items: center;
}
.btn-secondary {
    background: white;
    border: 1px solid #667eea;
    color: #667eea;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}

.footer {
    margin-top: 24px;
    padding: 12px;
    text-align: center;
    color: #dbdbdbff;
    /* color: #666; */
    font-size: 13px;
}

/* ********** Loading Indicator */
svg {
    animation: spin 1s linear infinite;
}
circle {
    stroke: #667eea;
    stroke-linecap: round;
    stroke-dasharray: 31.4 31.4;
    stroke: #667eea;
    stroke-opacity: 0.9;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.desktop-only {
    display: flex;
}

.mobile-menu {
    display: none;
}

@media (max-width: 720px) {
    .desktop-only {
        display: none !important;
    }

    .hamburger {
        display: block;
    }

    /* FULL SCREEN MOBILE MENU */
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: white;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 18px;
        z-index: 200;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    .mobile-menu.open {
        transform: translateX(0);
    }

    .close-btn {
        font-size: 32px;
        background: none;
        border: none;
        align-self: flex-end;
        cursor: pointer;
    }

    .mobile-link {
        font-size: 20px;
        padding: 12px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #333;
    }
    .mobile-link:hover {
        background: #f1f1ff;
    }

    .mobile-auth {
        margin-top: auto;
        padding-top: 20px;
        border-top: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .mobile-user {
        font-weight: 600;
        font-size: 18px;
    }
}
